<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">DATA</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">

            {{#if isIndex}}
            <li class="active"><a href="/">Bosh sahifa</a></li>
            {{else}}
            <li><a href="/">Bosh sahifa</a></li>
            {{/if}}

            {{#if isStudents}}
                <li class="active"><a href="/students">O'quvchilar</a></li>
            {{else}}
                <li><a href="/students">O'quvchilar</a></li>
            {{/if}}

            {{#if isAddStudent}}
                <li class="active"><a href="/addStudent">O'quvchi qo'shish</a></li>
            {{else}}
                <li><a href="/addStudent">O'quvchi qo'shish</a></li>
            {{/if}}

            {{#if isCourses}}
                <li class="active"><a href="/courses">Kurslar</a></li>
            {{else}}
                <li><a href="/courses">Kurslar</a></li>
            {{/if}}

            {{#if isAdd}}
                <li class="active"><a href="/add">Kurs qo'shish</a></li>
            {{else}}
                <li><a href="/add">Kurs qo'shish</a></li>
            {{/if}}

        </ul>
    </div>
</nav>